RewriteEngine On

# Rewrite /users or /users/ to /users/list.php
RewriteRule ^api/users/?$ users/list.php [L]

# Rewrite /users/{id} to /users/detail.php?id={id}
RewriteRule ^api/users/([0-9]+)$ users/detail.php?id=$1 [L]
